In [2]:
"""
날짜 : 2023/01/13
이름 : 최아영
내용 : 파이썬 데이터베이스 실습하기
"""

import pymysql

In [5]:
# Insert 실습

# 데이터베이스 접속
conn = pymysql.connect(host='127.0.0.1',
                user='root',
                password='1234',
                db='java1db',
                charset='utf8')

# SQL 실행객체
cur = conn.cursor()

# SQL 실행
sql = "insert into `user1` values ('p101', '1234', '파이썬', '010-1234-1001', 17)"
cur.execute(sql)
conn.commit()

# 데이터베이스 종료
conn.close()
print('insert 완료...')

insert 완료...

In [14]:
# Update 실습
conn = pymysql.connect(host='127.0.0.1',
                user='root',
                password='1234',
                db='java1db',
                charset='utf8')

# SQL 실행객체
cur = conn.cursor()

# SQL 실행
sql = "update `user1` set "
sql += "`name`='홍길동',"
sql += "`hp`='010-1111-2222',"
sql += "`age`='27' "
sql += "where `uid`='p101';"
cur.execute(sql)
conn.commit()

# 데이터베이스 종료
conn.close()
print('Update 완료...')

Update 완료...

In [16]:
# Delete 실습
conn = pymysql.connect(host='127.0.0.1',
                user='root',
                password='1234',
                db='java1db',
                charset='utf8')

# SQL 실행객체
cur = conn.cursor()

# SQL 실행
sql = "delete from `user1` where `uid`= 'p101';"
cur.execute(sql)
conn.commit()

# 데이터베이스 종료
conn.close()
print('Delete 완료...')

Delete 완료...

In [9]:
# Select 실습
conn = pymysql.connect(host='127.0.0.1',
                user='root',
                password='1234',
                db='java1db',
                charset='utf8')

cur = conn.cursor()

sql = "select * from `user1`;"
cur.execute(sql)
conn.commit()

# 데이터출력
for row in cur.fetchall():
    print('----------------')
    print('아이디 :', row[0])
    print('비밀번호 :', row[1])
    print('이름 :', row[2])
    print('휴대폰 :', row[3])
    print('나이 :', row[4])

conn.close()
print('select 완료')

----------------
아이디 : A105
비밀번호 : 03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4
이름 : 이순신
휴대폰 : 010-1234-5555
나이 : 30
----------------
아이디 : a102
비밀번호 : 03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4
이름 : 김유신
휴대폰 : 010-1234-1001
나이 : 25
----------------
아이디 : a201
비밀번호 : 03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4
이름 : 홍길동
휴대폰 : 010-1000-1234
나이 : 27
----------------
아이디 : a101
비밀번호 : 03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4
이름 : 홍길동
휴대폰 : 010-1110-2221
나이 : 27
----------------
아이디 : a101
비밀번호 : 03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4
이름 : 홍길동
휴대폰 : 010-1234-1002
나이 : 25
----------------
아이디 : p101
비밀번호 : 1234
이름 : 파이썬
휴대폰 : 010-1234-1001
나이 : 17
select 완료